http:
  routers:
    api:
      entryPoints:
        - api
      rule: PathPrefix(`/api`) || PathPrefix(`/dashboard`)
      service: api@internal
      middlewares:
        - api_auth

  middlewares:
    api_auth:
      digestAuth:
        users:
          - "{{ traefik_api_auth_user }}:traefik:{{ traefik_api_auth_hash }}"
